<p id="question"><%- question %></p>

<script src="/socket.io/socket.io.js"></script>
<script>
const socket = io({ query: { teamId: 'question' , role: 'question' } });

socket.on('next question', (question) => {
	document.getElementById('question').innerText = question;
});
</script>