TWITCH_CLIENT_ID=
TWITCH_CLIENT_SECRET=
TWITCH_CALLBACK_URL=
TWITCH_CALLBACK_URL_LOCAL=http://localhost:3000/auth/twitch/callback
NODE_ENV=local|prod
MONGODB_USER=
MONGODB_PASS=
MONGODB_URL=
MONGODB_URL_LOCAL=localhost