<%- include('header'); %>
	<section id="admin" class="text-center">
		<header>
			<h1>Admin panel</h1>
		</header>
		<% if(user.role == "admin"){ %>
			<div class="d-grid gap-2 col-6 mx-auto">
				<a class="btn btn-success" role="button" href="admin/startGame">Start game</a>
				<a class="btn btn-primary" role="button" href="admin/gameManagemet">Create/manage game</a>
				<a class="btn btn-primary" role="button" href="admin/users">User management</a>
			</div>
		<% } else { %>
			<h1 class="text-danger">You should not be here!</h1>
		<% } %>
	</section>
	<script src="js/ajaxFormHandler.js"></script>
<%- include('footer'); %>
