<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
	<link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/fontawesome.min.css">
    <link rel="stylesheet" href="/css/fa-brands.min.css">
    <link rel="stylesheet" href="/css/fa-solid.min.css">

	<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.4.2/css/fontawesome.min.css" integrity="sha384-BY+fdrpOd3gfeRvTSMT+VUZmA728cfF9Z2G42xpaRkUGu2i3DyzpTURDo5A6CaLK" crossorigin="anonymous"> -->

    <title>The Big Chonky Question Show</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark <% if (user.inGame && !user.adminLogin === true) { %> d-none <% } %><% if (user.adminLogin === true) { %>bg-admin<% } else { %>bg-dark<% } %>">
        <div class="container">
            <a class="navbar-brand" href="/">The Big Chonky Question Show</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
					<% if(user.role == "admin"){ %>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">Admin</a>
							<ul class="dropdown-menu">
								<% if (
									typeof game !== 'undefined'
									&& game !== null
									&& game.status === "in-progress")
								{ %>
									<li><a class="dropdown-item" href="/admin/in-game">Administrate current game (<%- game.code -%>)</a></li>
								<% } else { %>
									<li><a class="dropdown-item" href="/admin/startGame">Start game</a></li>
								<% } %>
								<li><hr class="dropdown-divider"></li>
								<li><a class="dropdown-item" href="/admin/gameManagement">Create/manage games</a></li>
								<li><a class="dropdown-item" href="/admin/teams">Team management</a></li>
								<li><a class="dropdown-item" href="/admin/users">User management</a></li>
								<li><hr class="dropdown-divider"></li>
								<li><a class="dropdown-item" href="/debug">Debug</a></li>
							</ul>
						</li>
					<% } %>
                </ul>
            </div>
				<ul class="navbar-nav ml-auto">
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false"><img src="<%- user.profileImageUrl %>" class="profileimage-thumb"><%- user.displayName %></a>
							<ul class="dropdown-menu dropdown-menu-end">
								<% if (user.adminLogin === true) { %>
								<li><a class="dropdown-item text-danger" href="/admin/release-user">Log back in as <%- user.adminUser.displayName %></a></li>
								<% } else { %>
								<li><a class="dropdown-item" href="/profile">Profile</a></li>
								<li><a class="dropdown-item" href="/settings">Settings</a></li>
								<li><hr class="dropdown-divider"></li>
								<li><a class="dropdown-item text-danger" href="/logout">Log out</a></li>
								<% } %>
							</ul>
						</li>
                </ul>
        </div>
    </nav>
	<div class="container">
		<div id="loading" class="d-none justify-content-center">
		    <div class="spinner-border" role="status"></div>
		</div>
		<div id="message" role="alert"></div>
