<%- include('header'); %>
    <section id="index" class="text-center">
        <header>
            <h1>Some header</h1>
        </header>
		<section>
			<%- include('forms/example'); %>
		</section>
    </section>
	<script src="js/ajaxFormHandler.js"></script>
<%- include('footer'); %>
