<!doctype html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
	<link rel="stylesheet" href="/css/styles.css">
	<link rel="stylesheet" href="/css/fontawesome.min.css">
	<link rel="stylesheet" href="/css/fa-brands.min.css">
	<link rel="stylesheet" href="/css/fa-solid.min.css">

	<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
	<title>The Chonky Question Show</title>
</head>

<body class="bg-dark text-white">
	<div class="container">
		<div id="loading" class="d-none justify-content-center">
			<div class="spinner-border" role="status"></div>
		</div>
		<div id="message" role="alert"></div>
	<section id="login" class="text-center">
		<div class="container">
			<img src="https://assets.dannyvalz.com/image/upload/f_auto,q_auto/v1754255118/chonky/logo.png" alt="The Chonky Question Show Logo" class="img-fluid mb-3">
			<a class="btn btn-lg btn-twitch my-5" href="/auth/twitch">Log in with Twitch <i class="fa-brands fa-twitch"></i></a>
		</div>
		<% if (failureMessage) { %>
			<div class="container">
				<section>
					<div class="alert alert-danger" role="alert"><%= failureMessage %></div>
				</section>
			</div>
		<% } %>
		<section id="blurb" class="text-center pt-5">
			<h1 class="display-5">What <em>is</em> this?</h1>
			<p class="lead">The Chonky Question Show is a gameshow hosted live on Twitch where pairs of contestants answer trivia questions</p>
			<p class="lead">
			Largely inspired by <a href="https://en.wikipedia.org/wiki/The_Big_Fat_Quiz_of_the_Year" target="_blank" class="text-twitch">The Big Fat Quiz of the Year</a>, three teams of two players compete in a series of themed rounds, where questions are asked by the quizmaster and possibly some special guests too. Questions are answered, not by shouting out/buzzing in/typing, but by writing your answers on an interactive whiteboard. Be careful though, because <strong>there's no erase button</strong>, so if you mess it up, it's scribble time!</p>
			<p class="lead">"The best" answers are awarded points. That doesn't just mean correct answers, but also the most entertaining or creative ones. Doodles are most definitely welcomed.</p>
			<p class="lead mt-3">The show is streamed live on <a href="https://www.twitch.tv/dannyvalz" target="_blank" class="text-twitch">Twitch</a> and is available to watch on <a href="https://www.youtube.com/@dannyvalz" target="_blank" class="text-twitch">YouTube</a> after the fact.</p>
		</section>
	</section>
	<script src="js/ajaxFormHandler.js"></script>
<%- include('footer'); %>
