<ul>
	<li><a href="/obs/question">/question</a></li>
	<li><a href="/obs/view-answers/:questionId">/view-answers/:questionId</a></li>
	<li><a href="/obs/rounds">/rounds</a></li>
	<li><a href="/obs/rounds/:roundIndex">/rounds/:roundIndex</a></li>
	<li><a href="/obs/rounds/:roundIndex/question/:questionIndex">/rounds/:roundIndex/question/:questionIndex</a></li>
	<li><a href="/obs/rounds/:roundIndex/question/:questionIndex/:key">/rounds/:roundIndex/question/:questionIndex/:key</a></li>
	<li><a href="/obs/scoreboard">/scoreboard</a></li>
	<li><a href="/obs/teams">/teams</a></li>
	<li><a href="/obs/teams/:teamIndex">/teams/:teamIndex</a></li>
	<li><a href="/obs/teams/:teamIndex/name">/teams/:teamIndex/name</a></li>
	<li><a href="/obs/teams/:teamIndex/points">/teams/:teamIndex/points</a></li>
	<li><a href="/obs/teams/:teamIndex/players">/teams/:teamIndex/players</a></li>
	<li><a href="/obs/teams/:teamIndex/players/:playerIndex">/teams/:teamIndex/players/:playerIndex</a></li>
	<li><a href="/obs/teams/:teamIndex/players/:playerIndex/:key">/teams/:teamIndex/players/:playerIndex/:key</a></li>
</ul>