.navbar-expand-lg .navbar-nav .nav-link {
	padding-left: .75rem;
	padding-right: .75rem;
}

#index header {
	padding-top: 10rem;
}

.nav-tabs .nav-link:hover {
	background-color: #eee;
}

.tab-content {
    border: 1px #dee2e6 solid;
    border-top: 0;
    padding-top: 2rem;
}

.alert {
	border-radius: 0.5rem;
}

#loading, #message {
	margin: 1.5rem 0;
}

#message ul {
	margin: 0;
}

h1 {
	margin-bottom: 1.5rem;
}

.btn-twitch {
	color: #fff;
	background-color: #9146ff;
	border-color: #9146ff;
}

.btn-twitch:not(:disabled):not(.disabled).active, .btn-twitch:not(:disabled):not(.disabled):active, .show>.btn-twitch.dropdown-toggle {
    color: #fff;
    background-color: #41145f;
    border-color: #41145f;
}

.btn-twitch.focus, .btn-twitch:focus {
    color: #fff;
    background-color: #8205B4;
    border-color: #8205B4;
    box-shadow: 0 0 0 0.2rem rgba(130, 5, 180,.5);
}

.btn-twitch:hover {
    color: #fff;
    background-color: #8205B4;
    border-color: #8205B4;
}

.text-twitch {
	color: #9146ff;
}

.text-twitch:hover {
    color: #8205B4;
}

table.user-info {
	vertical-align: middle;
}

table.game-list form, table.question-info form {
	display: inline;
}

table.game-list i.delete-game:hover {
	cursor: pointer;
}

table.game-list i.edit-game, table.game-list i.edit-game:hover, table.game-list i.edit-game:active {
	color: black;
}

#game-management div.row {
	align-items: center;
}

.alert-danger ul {
	margin-bottom: 0;
}

.alert-danger ul li {
	list-style-position: inside;
}

.btn-tiny {
	--bs-btn-padding-y: .125rem;
	--bs-btn-padding-x: .25rem;
	--bs-btn-font-size: .5rem;
}