.navbar-expand-lg .navbar-nav .nav-link {
	padding-left: .75rem;
	padding-right: .75rem;
}

#index header {
	padding-top: 10rem;
}

.nav-tabs .nav-link:hover {
	background-color: #eee;
}

.tab-content {
	border: 1px #dee2e6 solid;
	border-top: 0;
	padding-top: 2rem;
}

.alert {
	border-radius: 0.5rem;
}

#loading, #message {
	margin: 1.5rem 0;
}

#message ul {
	margin: 0;
}

h1 {
	margin-bottom: 1.5rem;
}

.btn-twitch {
	color: #fff;
	background-color: #9146ff;
	border-color: #9146ff;
}

.btn-twitch:not(:disabled):not(.disabled).active, .btn-twitch:not(:disabled):not(.disabled):active, .show>.btn-twitch.dropdown-toggle {
	color: #fff;
	background-color: #41145f;
	border-color: #41145f;
}

.btn-twitch.focus, .btn-twitch:focus {
	color: #fff;
	background-color: #8205B4;
	border-color: #8205B4;
	box-shadow: 0 0 0 0.2rem rgba(130, 5, 180,.5);
}

.btn-twitch:hover {
	color: #fff;
	background-color: #8205B4;
	border-color: #8205B4;
}

.text-twitch {
	color: #9146ff;
}

.text-twitch:hover {
	color: #8205B4;
}

table.user-info {
	vertical-align: middle;
}

table.game-list form, table.question-info form {
	display: inline;
}

table.game-list i.delete-game:hover {
	cursor: pointer;
}

table.game-list i.edit-game, table.game-list i.edit-game:hover, table.game-list i.edit-game:active {
	color: black;
}

#game-management div.row {
	align-items: center;
}

.alert-danger ul {
	margin-bottom: 0;
}

.alert-danger ul li {
	list-style-position: inside;
}

.btn-tiny {
	--bs-btn-padding-y: .125rem;
	--bs-btn-padding-x: .25rem;
	--bs-btn-font-size: .5rem;
}

.toast-progress {
	background: var(--bs-toast-header-bg);
	max-width: 100%;
	height: 5px;
	border-radius: 1em;
}

.has-progress-bar {
	margin-bottom: -5px;
}

.profileimage-thumb {
	max-height: 20px;
	margin-right: 0.5em;
}

.user-thumbnail {
	transition-duration: 500ms;
	transition-property: all;
}
.user-thumbnail:hover {
	width: 150px;
	height: 150px;
}

input[type="search"] {
	padding-left: 2em;
	background-image: url("https://upload.wikimedia.org/wikipedia/commons/5/55/Magnifying_glass_icon.svg");
	background-size: 13px;
	background-repeat: no-repeat;
	background-position: 10px center;
}

.form-select-xs {
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
	padding-left: 0.5rem;
	font-size: 0.75rem;
	border-radius: var(--bs-border-radius-sm);
}

.form-check-label {
	user-select: none;
}

.player-icon {
	transition-duration: 1500ms;
	transition-property: all;
}

.player-logged-out {
	filter: saturate(0);
	border: 5px solid #ffffff;
}

.player-logged-in {
	border: 5px solid #bada55;
	border-radius: 100%;
}

.bg-admin {
	background-color: #ad0000;
}

/* img:has(.player-logged-in)::after {
	content: "I'm logged in!"

} */

input#gameCode {
	text-transform: uppercase;
}

input#gameCode::placeholder {
	text-transform: none;
}

.round-title, .question {
	animation: 2s anim-lineUp ease-out;
}

canvas {
	background: white;
	border: 1px solid black
}

canvas.disabled {
	background: lightgray;
}

.chat-audit {
	overflow-y: scroll;
	height: 100px;
	list-style-type: none;
}

@keyframes anim-lineUp {
	0% {
		opacity: 0;
		transform: translateY(80%);
	}
	20% {
		opacity: 0;
	}
	50% {
		opacity: 1;
		transform: translateY(0%);
	}
	100% {
		opacity: 1;
		transform: translateY(0%);
	}
}

.timer {
	background: -webkit-linear-gradient(left, skyBlue 50%, #eee 50%);
	border-radius: 100%;
	height: calc(var(--size) * 1px);
	width: calc(var(--size) * 1px);
	position: relative;
	-webkit-animation: time calc(var(--duration) * 1s) steps(1000, start);
	-webkit-mask: radial-gradient(transparent 50%,#000 50%);
	mask: radial-gradient(transparent 50%,#000 50%);
}
.mask {
	border-radius: 100% 0 0 100% / 50% 0 0 50%;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 50%;
	-webkit-animation: mask calc(var(--duration) * 1s) steps(500, start);
	-webkit-transform-origin: 100% 50%;
}
@-webkit-keyframes time {
	100% {
	-webkit-transform: rotate(360deg);
	}
}
@-webkit-keyframes mask {
	0% {
	background: #eee;
	-webkit-transform: rotate(0deg);
	}
	50% {
	background: #eee;
	-webkit-transform: rotate(-180deg);
	}
	50.01% {
	background: skyBlue;
	-webkit-transform: rotate(0deg);
	}
	100% {
	background: skyBlue;
	-webkit-transform: rotate(-180deg);
	}
}

.card-text.answer {
	color: black;
	background: black;
}
.card-text.answer:hover {
	color: white;
}

button>div.spinner-border{
    --bs-spinner-width: 1rem;
    --bs-spinner-height: 1rem;
	--bs-spinner-border-width: 0.15rem;
}

/* Fancy styles for in-game page */
:root {
	--in-game-border-size: 20px;
}

#ingame-background {
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	z-index: -100;
	user-select: none;
	pointer-events: none;
}

.canvas-container {
	aspect-ratio: 16 / 9;
	max-width: 100%;
	border-radius: var(--in-game-border-size);
	background-color: #f8f9fa;
}

.chat-message-container {
	overflow-y: auto;
	height: 268px;
	background-color: #f8f9fa;
	padding: 10px;
	border-radius: var(--in-game-border-size);
}

.chat-messages {
	margin: 0;
}

button.in-game, input.in-game {
	border-radius: var(--in-game-border-size) !important;
}

.chat-messages li {
	color: black;
	word-break: break-word;
}

.admin-background {
	position: relative;
}

.admin-background::before {
	content: '';
	position: absolute;
	z-index: -100;
	pointer-events: none;
	inset: 0; /* top: 0; right: 0; bottom: 0; left: 0; */

	background: url("https://assets.danny-valentine.com/video/upload/h_1080/q_auto:best,f_auto/BigFatTwitch/anibak.png");
	background-position: bottom right;
	background-size: cover;
	
	border-radius: 1em;
}

.admin-background::before, .team-0 {
	filter: hue-rotate(60deg);
}

.admin-background:nth-child(2), .admin-background:nth-child(3) {
	margin-top: 1em;
}

.admin-background:nth-child(2)::before, .team-1{
    filter: hue-rotate(160deg);
}

.admin-background:nth-child(3)::before, .team-2 {
    filter: hue-rotate(280deg);
}

.miniavatar {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	margin-right: 10px;
}

.chat-player-name {
	font-weight: 600;
}

.chat-messages li {
	opacity: 0;
	transform: translateX(20px);
	animation: chat-appear-rtl 0.5s ease-out forwards;
    list-style-type: none;
}

@keyframes chat-appear-rtl {
	0% {
		opacity: 0;
		transform: translateX(20px);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

.chat-messages li.self {
	opacity: 0;
	transform: translateX(-20px);
	animation: chat-appear-ltr 0.5s ease-out forwards;
}

@keyframes chat-appear-ltr {
	0% {
		opacity: 0;
		transform: translateX(-20px);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}