<%- include('../header'); %>
	<section id="game" class="text-center">
		<header>
			<h1>Join a game</h1>
		</header>
		<% if (failureMessage) { %>
			<div class="container">
				<section>
					<div class="alert alert-danger" role="alert"><%= failureMessage %></div>
				</section>
			</div>
		<% } if (successMessage) { %>
			<div class="container">
				<section>
					<div class="alert alert-success" role="alert"><%= successMessage %></div>
				</section>
			</div>
		<% } %>
		<div class="d-grid gap-2 col-6 mx-auto">
			<section>
				<form action="/game/join" method="post">
					<div class="form-group">
						<input type="text" class="form-control form-control-lg" id="gameCode" name="gameCode" placeholder="Enter game code" maxlength="4" pattern="[A-Za-z]{4}" required autofocus>
					</div>
					<button type="submit" class="btn btn-primary">Join game</button>
				</form>
				</section>
		</div>
		<footer style="margin-top: 10em;">
			<h6>Made by <a href="https://www.twitch.tv/dannyvalz" target="_blank">Danny Valentine <img width="16" height="16" src="https://twitch.tv/favicon.ico"></a></h6>
		</footer>
	</section>
	<!-- <script src="js/ajaxFormHandler.js"></script> -->
<%- include('../footer'); %>