<%- include('../header'); %>
    <section id="game" class="text-center">
        <header>
            <h1>Waiting for game to begin</h1>
        </header>
		<% if (failureMessage) { %>
			<div class="container">
				<section>
					<div class="alert alert-danger" role="alert"><%= failureMessage %></div>
				</section>
			</div>
		<% } if (successMessage) { %>
			<div class="container">
				<section>
					<div class="alert alert-success" role="alert"><%= successMessage %></div>
				</section>
			</div>
		<% } %>
		<section>
			<h2><span class="live-players">1</span> of 6 players ready</h2>
		</section>
		<hr>
		<section>
			<h2>Your teammate is:</h2>
			<div class="row">
				<div class="col">
					<figure>
						<img id="ItsAsh_btw-thumbnail" class="player-icon player-logged-out" src="https://static-cdn.jtvnw.net/jtv_user_pictures/002c6c7a-2520-4504-903e-a1f5dad0bee3-profile_image-300x300.png" width="100" alt="ItsAsh_btw's thumbnail">
						<figcaption>ItsAsh_btw</figcaption>
					</figure>
				</div>
			</div>
		</section>
		<hr>
		<section>
			<h2>Team chat:</h2>
			<div class="row">
				<input type="text">
				<input type="submit" value="Send">
			</div>
			<div class="row">
				<ul id="messages">
					<li>dannyvalz (21:12): You ready?</li>
					<li>AlexStarbelle (21:13): You betcha!</li>
				</ul>
			</div>
		</section>
		<footer style="margin-top: 10em;">
            <h6>Made by <a href="https://www.twitch.tv/dannyvalz" target="_blank">Danny Valentine <img width="16" height="16" src="https://twitch.tv/favicon.ico"></a></h6>
        </footer>
    </section>
	<script src="/socket.io/socket.io.js"></script>
	<script>
	const socket = io();

	socket.on('chat message', (msg) => {
		const item = document.createElement('li');
		item.innerHTML = msg;
		document.querySelector("h2").appendChild(item);
		window.scrollTo(0, document.body.scrollHeight);
	});

	</script>
	<!-- <script src="js/ajaxFormHandler.js"></script> -->
<%- include('../footer'); %>